<ion-view view-title="BeforeCart">
    <ion-tabs class="tabs-dark tabs-icon-left">


        <ion-tab title="Map View" icon-on="icon ion-ios-world" icon-off="ion-ios-world-outline">
            <br /><br><br /><br /><br><br />
            <h3>Overall Popularity 50%</h3>
            <h4> Positive Feedbacks 65%</h4>
            <h6>Conclusion:</h6>
            <p>Following product is popular in Asian reigion</p>
            <div class="item item-body">
                <img class="full-image" src="images/hasiniMap.JPG">
            </div>
        </ion-tab>

        <ion-tab title="Chart View" icon-on="icon ion-ios-pie" icon-off="icon ion-ios-pie-outline">
            <ion-content class="padding">
                <br /><br><br /><br /><br>

                <div class="item item-body">
                    <img class="full-image" src="images/chart.JPG">
                </div>
                <ul class="list">
                    <li class="item">
                        <ul class="list">
                            Asia
                            <li class="item"><h5>434 feedbacks</h5><span class="badge badge-calm">+30</span></li>
                            <li class="item"><h5>163 feedbacks</h5><span class="badge badge-positive">-10</span></li>
                        </ul>

                        <ul class="list">
                            Africa
                            <li class="item"><h5>324 feedbacks</h5><span class="badge badge-calm">+40</span></li>
                            <li class="item"><h5>531 feedbacks</h5><span class="badge badge-positive">-60</span></li>
                        </ul>
                        <ul class="list">
                            Autstralia
                            <li class="item"><h5>431 feedbacks</h5><span class="badge badge-calm">+50</span></li>
                            <li class="item"><h5>610 feedbacks</h5><span class="badge badge-positive">-70</span></li>
                        </ul>
                        <ul class="list">
                            North America
                            <li class="item"><h5>986 feedbacks</h5><span class="badge badge-calm">+50</span></li>
                            <li class="item"><h5>1673 feedbacks </h5><span class="badge badge-positive">-70</span></li>
                        </ul>
                        <ul class="list">
                            South America
                            <li class="item"><h5>342 feedbacks</h5><span class="badge badge-calm">+20</span></li>
                            <li class="item"><h5>789 feedbacks</h5><span class="badge badge-positive">-50</span></li>
                        </ul>
                        <ul class="list">
                            Asia
                            <li class="item"><h5>132 feedbacks</h5><span class="badge badge-calm">+10</span></li>
                            <li class="item"><h5>353 feedbacks</h5><span class="badge badge-positive">-40</span></li>
                        </ul>
                        <ul class="list">
                            Europe
                            <li class="item"><h5>222 feedbacks</h5><span class="badge badge-calm">+50</span></li>
                            <li class="item"><h5>121 feedbacks</h5><span class="badge badge-positive">-30</span></li>
                        </ul>






                </ul>
            </ion-content>





        </ion-tab>

    </ion-tabs>
    </ion-view> 