  <br /><br />
<ion-header-bar class="bar bar-header bar-dark item-input-inset">
    <h1 class="title">Shopping Tour</h1>
    <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Find Friends">
    </label>
    <form action="#/app/mainCatelog">
        <button nav-clear menu-close class="button button-balanced">Finish Tour</button>
       
    </form>
</ion-header-bar>


      <ion-content  class="padding">
        <br /><br />
      
       <ion-list>
            <ion-item class="item item-avatar" ng-repeat="item in items">

                <img src="images/friends/bill.jpg">
                <h2> Bill Gates &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; Online <img src="images/online.png" /></h2>
                <p>Expert in shirts</p>

                <li class="item item-checkbox  checkbox-balanced">
                    <p>Join Friend<label class="checkbox" title="Add to Chat"><input type="checkbox"></label></p>
                </li>


            </ion-item>

        </ion-list>


          <form action="#/app/chatView">
              <button nav-clear menu-close class="button button-full button-balanced icon-right ion-chevron-right " >Continue</button>
           </form>






</ion-content>

