<ion-view  view-title="BeforeCart" >
    

    <ion-content class="padding">
        <form action="#/app/mainCatelog">
           
            <div class="item item-body">
                <img class="full-image"  src="images/logo.png">
               
               </div>

            <h4> Sign In</h4>
                    <label class="item item-input">
                        <span class="input-label">Username</span>
                        <input type="text">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Password</span>
                        <input type="password" maxlength="20">
                    </label>
                    <button  nav-clear menu-close  class="button button-full button-balanced">
                        Sign In
                    </button>
                    <a class="button button-clear  button-positive" href="#/app/beforeResetPwd">
                     Forgot password?
                   </a>
                    <a class="button button-clear button-outline button-balanced  icon-right ion-chevron-right " href="#/app/signup">
                    Create New Account
                    </a>
        </form>
       
    </ion-content>
</ion-view>