

<br /><br /><br /><br />

<ion-header-bar class="bar bar-header bar-dark item-input-inset">
   
    <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
    </label>
</ion-header-bar>





<ion-tabs class="tabs-dark tabs-icon-left">

   
    <ion-tab title="Products" icon-on="icon ion-tshirt" icon-off="ion-tshirt-outline">

        <ion-content class="padding">
            <br /><br /><br />
            <ion-list>
                <ion-item class="list card" ng-repeat="item in items">

                    <br /><br />
                    <div class="item item-thumbnail-left">
                        <img src="images/products/fasionbug.jpg">
                        <h2> Fasion Bug</h2>
                        <p><i class="ion-ios-location-outline"></i> Maradana Road, Colombo </p>
                        <p><i class="ion-ios-telephone-outline"></i> 011 2 809900 </p>
                    </div>
                    <div class="item item-body">
                        <img class="full-image" src="images/products/blue-shirt.jpg">
                        <p>
                           
                            <a href="#" class="subdued"><i class="ion-android-happy"></i> Like It</a>
                            <a href="#" class="subdued"><i class="ion-android-sad"></i> Hate It</a>
                            <a href="#/app/commentview" class="subdued"><i class="ion-android-textsms"></i> View Comment</a>

                        </p>
                        <p>
                       
                            <a href="#" class="subdued">12 Good</a>
                            <a href="#" class="subdued">1 Bad</a>
                            <a href="#" class="subdued">25 Comments</a>
                          
                        </p>
                        <p>
                            <a href="#/app/askfriend" class="button button-outline button-small button-balanced">
                                Ask Friend
                            </a>
                            <a href="#/app/popularity" class="button button-outline button-small button-balanced">
                                Popularity
                            </a>
                            <a class="button button-small button-outline button-positive">
                                Add Wishlist
                            </a>
                           

                        </p>
                    </div>

                </ion-item>
            </ion-list>
        </ion-content>


    </ion-tab>
    <ion-tab title="My Friends" icon-on="ion-ios-people" icon-off="ion-ios-people-outline">
        <br /><br />
        <ion-content class="padding">
            <form action="">
                
                <h4>Your Friends</h4>
                <ion-list>
                    <ion-item class="item item-avatar" ng-repeat="item in items">

                        <img src="images/friends/bill.jpg">
                        <h2> Bill Gates &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; Online <img src="images/online.png" /></h2>
                        <p>Expert in T-shirts</p>
                    </ion-item>
                </ion-list>
                <h4>Suggested Friends</h4>
                <ion-item class="item item-avatar" ng-repeat="item in items">
                    <img src="images/friends/obama.jpg">
                    <h2> Barrak Obama  &nbsp;&nbsp; &nbsp;<button class="button button-outline button-small button-balanced">Send Request</button></h2>
                    <p>Expert in Shoes</p>

                </ion-item>
            </form>
        </ion-content>

    </ion-tab>
    <ion-tab title="Notices" icon-on="icon ion-ios-bell" icon-off="ion-ios-bell-outline" badge-style="badge-assertive" badge="7">
        <ion-content class="padding">

            <ion-item class="item item-avatar" ng-repeat="item in items">
                <img src="images/friends/bill.jpg">
                <h2>Friend Request</h2>
                <p> Bill Gates asks to become a friend<br /> of you</p>
                <p class="item-note"> Expert in Shirts</p>
                <button class="button button-small button-balanced button-outline">Confirm</button>
                <button class="button button-outline button-small button-assertive">Reject</button>

            </ion-item>

    </ion-tab>
    
</ion-tabs>


