<br /><br />
<ion-header-bar class="bar bar-header bar-dark item-input-inset">
  
   

      
            <label class="item-input-wrapper">
                <input type="text" placeholder="Type your comment ...">
            </label>
            <button class="button button-small ion-chatbubble-working button-balanced">
               Comment
            </button>
     

    
</ion-header-bar>
<ion-content class="padding">
    <br /><br /><br />
    
      
        <ion-item class="list card">
            <a class="item item-avatar" href="#"  ng-repeat="item in items">
                <img src="images/friends/bill.jpg">
                <h2>Bill Gates</h2>
                <p>This product is good.Love it</p>
            </a>
           



</ion-content>