<ion-content class="padding">
    
        <ul class="list">
            <li class="list">
                <h4> Upload New Product</h4>
                <form action="#/app/stall" nav-clear menu-close>
                    <a class="item item-thumbnail-left">
                        <img src="images/products/blue-shirt.jpg">
                        <h5>Product Image</h5>
                        <button class="button icon-left ion-ios-upload-outline">Upload</button>
                    </a>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Product Category
                        </div>
                        <select>
                            <option ng-repeat="item in items">Shirt</option>
                        </select>
                    </label>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Product Name
                        </div>
                        <select>
                            <option ng-repeat="item in items">Emerald Shirt</option>
                        </select>
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Stall Name</span>
                        <input type="text" maxlength="100" placeholder="Where you saw it?">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Date Saw</span>
                        <input type="text" maxlength="100" placeholder="When you saw it?">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Price</span>
                        <input type="text" maxlength="100" placeholder="How much is it?">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Email of stall</span>
                        <input type="text" maxlength="100" placeholder="Email of stall?">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Phone</span>
                        <input type="text" maxlength="10" placeholder="Any contact numbers?">
                    </label>
                    <button class="button button-block button-balanced">
                        Change
                    </button>
                </form>
</li>


        </ul>
        

</ion-content>