
<ion-content class="padding">
    
   <br /><br />
    <form action="">
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search">
            </label>
        </div>
        <br />
        </form>
        <ion-list>
            <ion-item class="item item-avatar" ng-repeat="item in items">
                
                    <img src="../../images/friends/bill.jpg">
                    <h2> Bill Gates &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; Online <img src="../../images/online.png" /></h2>
                    <p>Expert in shirts</p>
                    
                     <li class="item item-checkbox  checkbox-balanced">
                        <p>Join Friend<label class="checkbox" title="Add to Chat"><input type="checkbox"></label></p>
                    </li>
                   
              
            </ion-item>
            
        </ion-list>
    <button class="button button-full button-balanced icon-right ion-chevron-right ">
        Continue
    </button>

  
</ion-content>