<ion-view view-title="BeforeCart">
 
    <ion-content class="padding">
        <form action="#/app/home" nav-clear menu-close >
           
            <div class="card">
                <div class="item item-divider">
                    <h5>Security Code</h5>
                    </div>
                    <div class="item item-text-wrap">
                        We have sent you the reset password code to your email address.Please enter the code to reset
                        password
                    </div>

                    <label class="item item-input">
                        <span class="input-label">Security Code</span>
                        <input type="text">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Password</span>
                        <input type="password" maxlength="20">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Confirm Password</span>
                        <input type="password" maxlength="20">
                    </label>
                    <button class="button button-full button-balanced">
                        Change Password
                    </button>

                </div>
          
</form>
</ion-content>
</ion-view>