<ion-view view-title="BeforeCart">


    <ion-content class="padding">
        <form action="#/app/home">
            <h4> Account Details</h4>
            <a class="item item-avatar" >
                <img src="images/avatar.png">
                <h5>Profile Picture</h5>
                <button class="button icon-left ion-android-arrow-up">Upload</button>

            </a>
                        
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" maxlength="20">
            </label>
            <label class="item item-input">
                <span class="input-label">Confirm Password</span>
                <input type="password" maxlength="20">
            </label>
            <br />
            <h4>Persoanal Details</h4>

            <label class="item item-input">
                <span class="input-label">First Name</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Last Name</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Phone</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Address</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Postal/Zip Code</span>
                <input type="text" maxlength="20">
            </label>
            <label class="item item-input">
                <span class="input-label">City</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">State</span>
                <input type="text">
            </label>
            <button class="button button-full button-balanced">
                Create Account
            </button>
        </form>
    </ion-content>
</ion-view>